<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseLogic.Properties.Settings.KORHoteliAppConnectionString"
            connectionString="Data Source=DESKTOP-1QD058U\SQLEXPRESS;Initial Catalog=KORHoteliApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>